body {
    background:linear-gradient(0deg, rgb(254, 0, 0), rgb(107, 107, 238));
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

button {
    color: red;
    background-color: black;
    border: 2px blue;
    border-radius: 20px;
    transition:cubic-bezier(0.6, -0.28, 0.735, 0.045);
    height: 30px;
    margin: 30px auto;
    width: 150px;
}
button:hover {
    color: white;
}